@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Shantell+Sans:wght@300;400;500&display=swap");

/* font-family: 'Kiwi Maru', serif;
font-family: 'Shantell Sans', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Shantell Sans", cursive;
  background-color:  var(--third-color);
}

/* ---------------------------- */

:root {
    --primary-color: rgb(64, 64, 64);
    --secondary-color: #fff;
    --third-color: #fff;
    --forth-color: rgb(64, 64, 64);
}

.dark-theme {
    --primary-color: #fff;
    --secondary-color: rgb(64, 64, 64);
    --third-color: #000; 
    --forth-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(344deg) brightness(105%) contrast(101%);
}



/* -------------------------- */

nav {
  height: 80px;
  width: 100%;
  background-color: var( --third-color);
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;

}

.nav-left {
  width: 30%;
  height: 80%;
  /* border: 1px solid green; */
  position: absolute;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
}

.nav-left img {
  height: 100%;
  width: 15%;
  cursor: pointer;
  filter: var(--forth-color)
}

.nav-left span {
  font-size: xx-large;
  font-weight: 600;
  cursor: pointer;
}

#grey {
  color: rgb(140, 140, 140);
  font-family: "Kiwi Maru", serif;
  cursor: pointer;
}

.nav-right {
  width: 10%;
  height: 50%;
  /* border: 1px solid green; */
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-solid {
    color: var(--primary-color);
    cursor: pointer;
}

.nav-right p {
  font-size: larger;
  color: var(--primary-color);
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-right a :hover {
  color: rgb(140, 140, 140);
}

.nav-line {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0%;
  z-index: 199;
}

/* ------ firstContainer -------------*/

.firstContainer {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
  overflow: hidden;
}

.firstContainer-headtext-sub {
  /* border: 1px solid green; */
  width: 55%;
  margin-top: 3%;
  position: relative;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  float: right;
}

.headtext-sub-left {
  text-align: center;

  #sub-left-eng {
    font-size: xxx-large;
    color: var(--primary-color);
  }

  #sub-left-jp {
    font-family: "Kiwi Maru", serif;
    font-size: xx-large;
    color: rgb(140, 140, 140);
  }
}

.headtext-sub-right {
  /* border: 1px solid green; */
  height: 40%;
}

.headtext-sub-right p:nth-child(1) {
  font-size: x-large;
  color: var(--primary-color);
}

.headtext-sub-right p:nth-child(2) {
  font-family: "Kiwi Maru", serif;
  font-size: large;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.first-sub {
  /* border: 1px solid green; */
  width: 80%;
  position: relative;
  height: 60%;
  top: 5%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.first-sub-left {
  /* border: 1px solid green; */
  width: 48%;
  height: 100%;
  overflow: hidden;
}

.first-sub-left:hover #banpaku {
  transform: scale(1.1);
  transition: all 1s;
}

.first-sub-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-sub-right {
  /* border: 1px solid green; */
  width: 48%;
  height: 100%;
  position: relative;
}

.first-sub-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-sub-right-top {
  /* border: 1px solid green; */
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.first-sub-right-top:hover #miyajima {
  transform: scale(1.1);
  transition: all 1s;
}

.first-sub-right-bottom {
  /* border: 1px solid green; */
  width: 100%;
  height: 31%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;

  .right-bottom-1 {
    /* border: 1px solid green; */
    width: 46%;
    height: 100%;
    overflow: hidden;
  }

  .right-bottom-2 {
    /* border: 1px solid green; */
    width: 46%;
    height: 100%;
    overflow: hidden;
  }
}

.right-bottom-1:hover #koi {
  transform: scale(1.1);
  transition: all 1s;
}

.right-bottom-2:hover #bus {
  transform: scale(1.1);
  transition: all 1s;
}

.first-line {
  width: 80%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 10%;
}

/* ----------------------------------- */

.secondContainer {
  /* border: 1px solid rgb(102, 42, 175); */
  position: relative;
  width: 100%;
  height: 80%;
}

.secondContainer-headtext {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  color: var(--primary-color);

  #second-headtext-eng {
    font-size: xxx-large;
  }
  #second-headtext-jp {
    font-family: "Kiwi Maru", serif;
    font-size: xx-large;
  }
}

.secondContainer article {
  /* border: 1px solid rgb(141, 119, 168); */
  width: 80%;
  position: relative;
  height: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.second-article-text {
  /* border: 1px solid rgb(102, 42, 175); */
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
}

.second-article-text p {
  font-size: larger;
}

.secondContainer article figure {
  /* border: 1px solid rgb(102, 42, 175); */
  height: 40%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.secondContainer .parent-zoom {
  /* border: 1px solid rgb(42, 175, 80); */
  width: 24%;
  height: 100%;
  overflow: hidden;
}

.parent-zoom:hover .senri-img {
  transform: scale(1.1);
  transition: all 0.3s;
}

#senri1 {
  background-image: url(./img-jp/eki1.jpg);
  background-size: cover;
  height: 100%;
  transition: all 0.8s;
}

#senri2 {
  background-image: url(./img-jp/eki2.jpg);
  background-size: cover;
  height: 100%;
  transition: all 0.8s;
}

#senri3 {
  background-image: url(./img-jp/eki3.jpg);
  background-size: cover;
  height: 100%;
  transition: all 0.8s;
}

#senri4 {
  background-image: url(./img-jp/eki4.jpg);
  background-size: cover;
  height: 100%;
  transition: all 0.8s;
}

.secondContainer article button {
  position: absolute;
  bottom: 10%;
  font-family: "Shantell Sans", cursive;
  color: var(--secondary-color);
  font-size: medium;
  background-color: var(--primary-color);
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  left: 45%;
}

.second-line {
  width: 80%;
  height: 2px;
  background-color: var(--primary-color);
  left: 10%;
  position: absolute;
  bottom: 0;
}

/* ----------------------------------- */

.thirdContainer {
  /* border: 1px solid hotpink; */
  width: 100%;
  height: 80%;
  position: relative;
}

.thirdContainer-headtext {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  position: absolute;
  text-align: center;
  color: var(--primary-color);

  #third-headtext-eng {
    font-size: xxx-large;
  }
  #third-headtext-jp {
    font-family: "Kiwi Maru", serif;
    font-size: xx-large;
  }
}

.thirdContainer article {
  /* border: 1px solid hotpink; */
  width: 80%;
  position: relative;
  height: 300px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  color: var(--primary-color);
}

.thirdContainer article figure {
  /* border: 1px solid rgb(102, 42, 175); */
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.thirdContainer article figure div {
  /* border: 1px solid rgb(175, 42, 66); */
  width: 24%;
  height: 100%;
  top: 0;
}

.parent-zoom3 {
  overflow: hidden;
}

.parent-zoom3:hover .dome-img {
  transform: scale(1.1);
  transition: all 1s;
}

.thirdContainer article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.third-article-text {
  display: inline-block;
  /* margin-top: 10px; */
  margin-bottom: 5%;
}

.third-article-text p {
  font-size: larger;
}

.thirdContainer article button {
  position: absolute;
  bottom: -25%;
  font-family: "Shantell Sans", cursive;
  color: var( --secondary-color);
  font-size: medium;
  background-color: var(--primary-color);
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  left: 45%;
}

.third-line {
  width: 80%;
  height: 2px;
  background-color: var(--primary-color);
  left: 10%;
  position: absolute;
  bottom: 0;
}

/* ------------------------------ */

.forthContainer {
  /* border: 1px solid rgb(155, 151, 31); */
  width: 100%;
  height: 120%;
  position: relative;
}

.forth-article {
  /* border: 1px solid rgb(102, 42, 175); */
  width: 80%;
  position: relative;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forthContainer-headtext {
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  position: absolute;
  text-align: center;
  color: var(--primary-color);

  #forth-headtext-eng {
    font-size: xxx-large;
  }
  #forth-headtext-jp {
    font-family: "Kiwi Maru", serif;
    font-size: xx-large;
  }
}

.forth-article-text {
  /* border: 1px solid rgb(102, 42, 175); */
  display: inline-block;
  margin-bottom: 20px;
  margin: 0 auto;
  top: 10%;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: var(--primary-color);
}

.forth-article-text p {
  font-size: large;
}

.forth-article figure {
  /* border: 1px solid rgb(42, 175, 95); */
  width: 100%;
  height: 75%;
  bottom: 5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forth-img {
  /* background-color: antiquewhite; */
  width: 30%;
  height: 100%;
  position: relative;
}

.forth-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forth-img p {
  width: 90%;
  /* background-color: aquamarine; */
  height: 10%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-size: larger;
  color: var(--primary-color);
}

.block-img {
  height: 100%;
  background-color: var(--primary-color);
  width: 3px;
}

/* -------------------- */

footer {
  /* border: 1px solid; */
  height: 55%;
  width: 100%;
  position: relative;
}

.final-text {
  /* border: 1px solid rgb(42, 175, 95); */
  /* width: 50%;  */
  height: 55%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--primary-color);
}

.final-text p {
  font-size: 120%;
  margin-bottom: 1%;
}

.final-text h2 {
  font-size: x-large;
}

#last-jp {
  font-family: "Kiwi Maru", serif;
  font-size: x-large;
  color: rgb(140, 140, 140);
  
}

.copyright {
  margin-top: 50px;
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
}

.copyright p {
  color: var( --secondary-color);
  font-size: medium;
}

#copyright-jp {
  font-family: "Kiwi Maru", serif;
}

/* ------------ */

@media only screen and (max-width: 1920px) {
  .firstContainer {
    height: 75%;
  }

  /*---------------------------  */
  .secondContainer {
    height: 65%;
  }

  .secondContainer article {
    top: 60%;
  }

  .second-article-text {
    width: 70%;
  }

  .secondContainer article button {
    bottom: 20px;
  }
  
 /* --------------------------- */
  .thirdContainer {
    height: 75%;
  }

  .thirdContainer article {
    top: 55%;
  }

  .thirdContainer article button {
    bottom: -28%;
  }

/* -------------------------- */
  .forthContainer {
    height: 110%;
  }

  .forth-article  {
    height: 700px;
    top: 54%;
  }

 
/* -------------------------- */
  footer {
    height: 30%;
  }

 .final-text {
  height: 55%;
 }
  
}
/* ------------------------------ */
/* 
@media only screen and (max-width: 1435px) {
  .nav-left {
    width: 35%;
  }

  footer {
    height: 35%;
  }

  .final-text {
    height: 60%;
   }


}

@media only screen and (max-width: 1235px) {
  .nav-left {
    width: 35%;
  }

  .nav-left span {
    font-size:x-large;
    font-weight: 500;
  }

  .forthContainer {
    height: 100%;
  }

  .forth-article {
    top: 60%;
  }

  .forth-article figure {
    height: 60%;
    bottom: 20%;
  }

}

@media only screen and (max-width: 925px) {
  .nav-left {
    width: 35%;
  }

  .nav-left span {
    font-size: larger;
    font-weight: 500;
  }

  .forthContainer {
    height: 90%;
  }

  .forth-article {
    top: 62%;
  }

  .forth-article figure {
    height: 50%;
    bottom: 28%;
  }
  

} */


@media only screen and (max-width: 376px) {

  nav {
    height: 40px;
  } 

  .nav-left {
    width: 50%;
    margin-left: 10px;
  }

  .nav-left span {
    font-size: small;
    font-weight: 400;
  }

  .nav-left img {
    width: 12%;
    height: 50%;
  }

  .nav-right {
    width: 20%;
    margin-right: 20px;
  }

  .fa-solid {
   font-size: 1em !important;
  }

  .nav-right p {
    font-size: small;
  }


  .firstContainer {
    margin-top: 8%;
    height: 35%;
  }

  .firstContainer-headtext-sub {
    margin-top: 8%;
  }

  .headtext-sub-left {
    text-align: center;
  
    #sub-left-eng {
      font-size: 80% !important;
      color: var(--primary-color);
    }
  
    #sub-left-jp {
      font-size: 70% !important;
      color: rgb(140, 140, 140);
    }
  }

  .headtext-sub-right p:nth-child(1) {
    font-size: 50%;

  }

  .headtext-sub-right p:nth-child(2) {
    font-size: 10% !important;
  }

  .first-sub {
    height: 52%;
    top: 8%;
  }

  .first-sub-left {
    width: 49%;
  }

  .first-sub-right-top {
    height: 55%;
  }

  .first-sub-right-bottom {
    height: 40%;

    .right-bottom-1 {
      width: 47.5%;
    }

    .right-bottom-2 {
      width: 47.5%;
    }
  }

  /* ------------------------ */

  .secondContainer {
    height: 40%;
  }


  .secondContainer-headtext {

    #second-headtext-eng {
      font-size: 80% !important;
    }
    #second-headtext-jp {
      font-size: 70% !important;
    }
  
  }

  .secondContainer article {
    height: 80%;
  }

  .second-article-text {
    top: 50px;
  }

  .second-article-text {
    /* margin-top: 30px; */
    width: 90%;
  }

  .second-article-text p {
    font-size: 55%;
  }

  .secondContainer article figure {
    margin-top: 20px;
  }

  .secondContainer article button {
    font-size: 40%;
    padding: 3px 6px;
    bottom: 5%;
    left: 42%;
  }

  /* ---------------- */

  .thirdContainer {
    height: 40%;
  }

  .thirdContainer-headtext h1 {
      font-size: 80% !important;
  }

  .thirdContainer article {
    height: 70%;
    top: 65%;
  }

  .third-article-text p {
    font-size: 60%;
  }

  .thirdContainer article figure {
    height: 50%;
    margin-top: 10px;
  }

  .thirdContainer article button {
    font-size: 40%;
    padding: 3px 6px;
    bottom: 5%;
    left: 42%;
  }

  /* ---------------- */

  .forthContainer {
    height: 50%;
  }

  .forthContainer-headtext {
    top: 13%;

  }

  #forth-headtext-eng {
      font-size: 80% !important;
    }
    #forth-headtext-jp {
      font-size: 70% !important;
    }

  .forthContainer article {
    height: 70%;
    top: 55%;
  }

  .forth-article-text {
    top: 20%;
  }

  .forth-article-text p {
    font-size: 60%;
  }

  .forthContainer article figure {
    height: 55%;
    margin-top: 10px;
  }

  .forth-img p {
    margin-top: 0px;
    font-size: 40%;
  }

  /* ---------------------- */
  footer {
    height: 15%;
  }

  .final-text {
    height: 75%;
  }

  .final-text p {
    font-size: 50%;
  }

  .final-text h2 {
    font-size: 70%;
    margin-top: 5px;
  }
  
  #last-jp {
    font-size: 60%;
    margin-top: 0px;
  }

  .copyright p {
    font-size: 50%;
  }
 
  



}